{include file="`$lokasitemplate`komponen/home/header.html"}
    <!-- /.header -->

  <div class="container kanal">
       <div class="row">
            <div class="col-md-12"> 
                <ol class="breadcrumb">
                   <li><a href="{$fulldomain}/">Home</a></li>
                   <li class="active" ><a href="{$fulldomain}/catalog">Download Katalog</a></li>
                </ol>             
                
            </div>
       </div>
       <div class="text-left text-title-list">
            <h1>Download Katalog</h1>
       </div>
    </div>


    <div class="container">
        <div class="row">
           <div class="col-md-3 mt-20 text-center">
                <img src="{$fulldomain}/images/shinar.jpg" class="img-responsive">
                <h4>Shinar</h4>
                <a href="{$fulldomain}/download/shinar.pdf" class="btn btn-default">Download Catalog   <i class="fal fa-arrow-right"></i> </a>
           </div>
           <div class="col-md-3 mt-20  text-center">
                <img src="{$fulldomain}/images/saudiarawis.jpg" class="img-responsive">
                <h4>Saudia Rawis</h4>
                 <a href="{$fulldomain}/download/saudiarawis.pdf" class="btn btn-default">Download Catalog   <i class="fal fa-arrow-right"></i> </a>
           </div>
           <div class="col-md-3  mt-20 text-center">
                <img src="{$fulldomain}/images/bella.jpg" class="img-responsive">
                <h4>Bella</h4>
                 <a href="{$fulldomain}/download/bella.pdf" class="btn btn-default">Download Catalog   <i class="fal fa-arrow-right"></i> </a>
           </div>
            <div class="col-md-3  mt-20 text-center">
                <img src="{$fulldomain}/images/andine.jpg" class="img-responsive">
                <h4>Andine Premium</h4>
                 <a href="{$fulldomain}/download/andine-premium.pdf" class="btn btn-default">Download Catalog   <i class="fal fa-arrow-right"></i> </a>
           </div>
        </div>
    </div>

    
   
</div>
<!-- /.wrapper -->

<!-- FOOTER -->
{include file="`$lokasitemplate`/komponen/home/footer.html"}