{include file="`$lokasitemplate`komponen/home/header.html"}
    <!-- HOME -->
    <div class="overlay home small-medium-size">
        <div class="bg bg-shop"></div>
        <div class="container vmiddle">
            <div class="row text-center text-title-list">
                <h1 class="text-uppercase" style="font-size: 50px">Register</h1>
                <h4>Please register yourself</h4>
            </div>
        </div>
    </div>
    <!-- /.home -->

    <div class="container">
        <div class="row">
           <div class="col-md-6 col-md-offset-2">

            {if $pesanhasil neq ''}
            <div class="alert {if $berhasil eq '1'}  alert-success {else} alert-danger{/if} alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                 {$pesanhasil}.
                 <ul>
                 {foreach from=$pesan key=id item=a}
                    <li>{$a.pesan}</li>
                 {/foreach}
                 </ul>
            </div>
            {/if}

            <form action="{$fulldomain}/register/registrasi" class="form-horizontal" method="post" name="registermember">
                <input type="hidden" name="register" value="1" />
                {if $fbid neq ''}<input type="hidden" name="fbcid" value="{$fbid}" />{/if}
                {if $twid neq ''}<input type="hidden" name="twcid" value="{$twid}" />{/if}
                {if $gpid neq ''}<input type="hidden" name="gpcid" value="{$gpid}" />{/if}
                {if $tw_token neq ''}<input type="hidden" name="tw_token" value="{$tw_token}" />{/if}
                {if $tw_secret neq ''}<input type="hidden" name="tw_secret" value="{$tw_secret}" />{/if}
                {if $last neq ''}<input type="hidden" name="uri" value="{$last}" />{/if}
               <div class="form-group">
                   <label class="control-label col-md-4">Username :</label>
                   <div class="col-md-8"><input type="text" name="username"  value="{$daftarusername}" class="form-control" placeholder="Masukan username anda minimal 3 karakter tanpa simbol" required="required"></div>
               </div>
               <div class="form-group">
                   <label class="control-label col-md-4">Nama Lengkap :</label>
                   <div class="col-md-8"><input type="text" name="userfullname"  value="{$daftarname}" class="form-control"  placeholder="Masukan nama lengkap anda" required="required"></div>
               </div>
               <div class="form-group">
                   <label class="control-label col-md-4">Alamat Email :</label> 
                   <div class="col-md-8"><input type="email" name="useremail"  value="{$daftaremail}" class="form-control"  placeholder="Ketik email anda dengan benar" required="required"></div>
               </div>
               <div class="form-group">
                   <label class="control-label col-md-4">Nomor Handphone :</label>
                   <div class="col-md-8"><input type="text" name="userphonegsm"  value="{$daftaruserphonegsm}" class="form-control"  placeholder="Masukan nomor handphone anda"></div>
               </div>
               <div class="form-group">
                   <label class="control-label col-md-4">Password :</label>
                   <div class="col-md-8"><input type="password" name="userpassword"  class="form-control"   placeholder="Ketik password anda" required="required"></div>
               </div>
                <div class="form-group">
                   <label class="control-label col-md-4">Confirm Password :</label>
                   <div class="col-md-8"><input type="password" name="userpasswordconf"  class="form-control" required="required"  placeholder="Ketik Ulang Password anda"></div>
               </div>
                <fieldset class="custom">
                <div class="col-md-8 col-md-offset-4">
                    <div class="checkbox-group">
                        <label for="confirm-register"><input id="confirm-register" required="required" type="checkbox">&nbsp; <span>Saya memahami dan menyetujui <a href="{$fulldomain}/termcondition">Aturan dan kebijakan</a> dari {$title}.</span></label>
                    </div>
                    <div class="clearfix">&nbsp;</div>
                </div>
                </fieldset>
               <div class="form-group">
                   <div class="col-md-8 col-md-offset-4"><button class="btn btn-primary" type="submit">Daftar Sekarang</button></div>
               </div>
            </form>
           </div>
        </div>
    </div>

</div>
<!-- /.wrapper -->

{include file="`$lokasitemplate`/komponen/home/footer.html"}